ion-title {
    --color: trasparent;
    font-size: 15px;
    font-weight: 8;
    
}
ion-toolbar {
    --background: --ion-color-medium; 
    --opacity: 1;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
}