

  <ion-toolbar class="ion-padding">
    <ion-segment #segment scrollable (ionChange)="segmentChanged($event, slides)">
      <ion-segment-button *ngFor="let dia of semana; let i = index" value="{{i}}">
        <ion-label class="padding">{{dia.nombre}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
<ion-content class="card" fullscreen>

  <ion-slides #slides (ionSlideDidChange)="ionSlideDidChange($event,segment,slides)"
    (ionSlideDidChange)="onSlideChanged()">

    <ion-slide *ngFor="let dia of semana; let i = index" value="{{i}}" class="slide-{{i}}">
      
        <ion-list>
          <ion-item lines="full" *ngFor="let clase of dia.clases">
            <ion-icon size="large" name="ellipse-sharp" color="primary"></ion-icon>
            <ion-label class="ion-text-wrap ion-padding">
                {{clase.nombre}}
                {{clase.horario}}
            </ion-label>
          </ion-item>
        </ion-list>
     
    </ion-slide>
  </ion-slides>
</ion-content>