
  <ion-toolbar>
    <ion-segment #segment scrollable (ionChange)="segmentChanged($event, slides)">
      <ion-segment-button *ngFor="let dia of semana; let i = index" value="{{i}}">
        <ion-label>{{dia.nombre}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-slides #slides (ionSlideDidChange)="ionSlideDidChange($event,segment,slides)" (ionSlideDidChange)="onSlideChanged()">

    <ion-slide *ngFor="let dia of semana; let i = index" value="{{i}}" class="slide-{{i}}">
      <ion-infinite-scroll  class="ion-align-self-start">
        <ion-list>
          <ion-item lines="full" *ngFor="let clase of dia.clases">
            <ion-icon size="large" name="ellipse-sharp" color="primary"></ion-icon>
            <ion-label class="ion-text-wrap ion-padding">
              <ion-text color="primary">
                <h1 #materia>{{clase.nombre}}</h1>
              </ion-text>
              <p #hora>{{clase.horario}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-infinite-scroll>
    </ion-slide>
  </ion-slides>