
  <ion-toolbar>
    <ion-segment #segment scrollable (ionChange)="segmentChanged($event, slides)">
      <ion-segment-button *ngFor="let dia of semana; let i = index" value="{{i}}">
        <ion-label id="dia">{{dia.nombre}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <ion-slides #slides (ionSlideDidChange)="ionSlideDidChange($event,segment,slides)" (ionSlideDidChange)="onSlideChanged()">
    <ion-slide *ngFor="let dia of semana; let i = index" value="{{i}}" class="slide-{{i}}">
      <ion-infinite-scroll  class="ion-align-self-start">
        <ion-list>
          <ion-item lines="full" *ngFor="let clase of dia.clases">
           <div class="circle">{{clase.nombre[0]}}</div>
            <ion-label class="ion-text-wrap ion-padding">
              <ion-label color="primary" style="font-size:20px" #materia>{{clase.nombre}}</ion-label>
              <p #hora>{{clase.horario}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-infinite-scroll>
    </ion-slide>
  </ion-slides>