<ion-list *ngFor="let mat of clasesElegidasPorSeccionesForView; let i = index">
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label class="ion-text-wrap"
          ><strong
            >{{ mat.padre }} - {{ mat.sigla
            }}{{ mat.enf == "-- --" ? "" : "-" + mat.enf }}</strong
          ></ion-label
        >
      </ion-item>
    </ion-row>
  </ion-grid>
  <ion-item *ngFor="let materia of mat.hijos" class="no-ripple">
    <ion-checkbox
      class="ion-margin"
      slot="start"
      [(ngModel)]="materia.isItemChecked"
      (ionChange)="onChange()"
    >
    </ion-checkbox>
    <ion-label>
      <h2 class="ion-text-wrap">
        {{ materia.especial ? materia.materia : undefined }}
      </h2>
      <h2 class="ion-text-wrap">
        Seccion {{ materia.seccion }} {{ materia.def }}
      </h2>
      <ion-label *ngFor="let profesor of materia.profesor">
        <h2 class="ion-text-nowrap">
          {{ profesor }}
        </h2>
      </ion-label>
    </ion-label>
  </ion-item>
</ion-list>
