<ion-header translucent>
  <ion-toolbar>
    <ion-title class="ion-padding">Paso {{data.seccionActual}}: Seleccione secciones </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 <ion-list *ngFor="let mat of clasesElegidasPorSeccionesForView; let i=index">
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label class="ion-text-wrap"><strong>{{mat.padre}} - {{mat.sigla}}{{(mat.enf=='-- --')?'':'-'+mat.enf}}</strong></ion-label>
      </ion-item>
    </ion-row>
  </ion-grid>
  <ion-item *ngFor="let materia of mat.hijos">
    <span slot="start">&#09;</span>
    <ion-checkbox slot="start" [(ngModel)]="materia.isItemChecked" (ionChange)="onChange()">
    </ion-checkbox>
    <ion-label class="ion-text-wrap">
    {{materia.nombre}}
    
        {{materia.seccion}} - {{materia.profesor}}
      
    </ion-label>
  </ion-item>
 </ion-list>
</ion-content>
