<ion-menu side="start" menuId="first" contentId="main">
  <ion-header id="header">
    <ion-toolbar>
      <ion-title>Poliplanner</ion-title>
      <ion-icon name="sync" slot="end" class="ion-padding" (click)="actualizar()"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button routerDirection='root' routerLink="/inicio">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>

      <ion-item button routerDirection='root' routerLink="/secciones">
        <ion-icon name="bookmarks" slot="start"></ion-icon>
        <ion-label>Secciones</ion-label>
      </ion-item>

      <ion-item button routerDirection='root' routerLink="/calendario">
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label>Calendario</ion-label>
      </ion-item>

      <ion-item button routerDirection='root' routerLink="/prueba">
        <ion-icon name="calculator" slot="start"></ion-icon>
        <ion-label>Calculadora</ion-label>
      </ion-item>

      <ion-item *ngIf="displayPage" button routerDirection='root' routerLink="/preflight">
        <ion-icon name="help" slot="start"></ion-icon>
        <ion-label>Guia de instalación</ion-label>
      </ion-item>

      <ion-item button routerDirection='root' routerLink="/about">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Acerca de</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>