<app-header></app-header>
<app-menu></app-menu>
<div>
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-title class="ion-text-wrap">
        <div *ngIf="formData.seccionActual==1" class="ion-text-wrap">
          Paso 1: {{textForHeader[formData.seccionActual]}}
        </div>
        <div *ngIf="formData.seccionActual==2" class="ion-text-wrap">
          Paso
          {{formData.seccionActual+(formData?.carreras.length-formData.contadorCarrera
          )}}: {{textForHeader[formData.seccionActual]}} -
          {{this.formData.carreras[this.formData.contadorCarrera-1].code}}
        </div>
        <div
          *ngIf="!(formData.seccionActual==1 || formData.seccionActual==2)"
          class="ion-text-wrap"
        >
          Paso
          {{formData.seccionActual+(formData.carreras?.length-formData.contadorCarrera
          )}}: {{textForHeader[formData.seccionActual]}}
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [ngSwitch]="validarSeccion()">
  <app-seleccionar-carrera
    *ngSwitchCase="1"
    [formData]="formData"
  ></app-seleccionar-carrera>

  <!-- <app-seleccionar-materias-aprobadas *ngSwitchCase="2" [formData]="formData" ></app-seleccionar-materias-aprobadas> -->
  <!-- <app-seleccionar-materia *ngSwitchCase="3" [formData]="formData" ></app-seleccionar-materia>  -->
  <div *ngSwitchCase="2">
    <ng-container *ngFor="let carrera of formData.carreras; let i=index;">
      <app-por-carrera
        *ngIf="formData.contadorCarrera==i+1"
        [selectedCareerId]="carrera.id"
        [esAprobar]="false"
        [esCargarHorario]="true"
        (seleccionados)="onChangeSel($event,carrera.id)"
        [formData]="formData"
      ></app-por-carrera>
    </ng-container>
  </div>
  <app-seleccionar-secciones
    *ngSwitchCase="3"
    [formData]="formData"
  ></app-seleccionar-secciones>
</ion-content>


<app-file-picker #fp [formData]="formData"></app-file-picker>
<app-footer #footer [formData]="formData" [armar]="false"></app-footer>
