ion-title {
    --color: var(--ion-color-light-contrast);
    font-size: 15px;
    font-weight: 8;
    
}
ion-toolbar {
    --background: var(--ion-color-light); 
    --opacity: 1;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
}

ion-toast{
    --border-width:	100px
}