<app-header></app-header>
<app-menu></app-menu>

<ion-content>
  <ion-infinite-scroll>
    <ion-list>
      <ion-item lines="full">
        <ion-icon size="large" name="ellipse-sharp" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap ion-padding">
          <ion-text color="primary">
            <h1 #materia>Base de Datos</h1>
            <h1 #materia>(prueba, aun no implementado)</h1>
          </ion-text>
          <p #profesores>18:00 a 20:00</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-infinite-scroll>
</ion-content>