<app-menu></app-menu>
<app-header></app-header>

<ion-fab vertical="bottom" horizontal="end" class="ion-padding">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top" class="ion-padding">
    <ion-fab-button color="primary" routerLink="/cargar-horario" data-desc="Cargar horario">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" routerLink="/armar-horario" data-desc="Armar horario">
      <ion-icon name="hammer"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" (click)="do2()" data-desc="Actualizar excel horario">
      <ion-icon name="sync"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


<ion-content>
  <app-inicio [semana]="data.semana" [toCalendar]="data.toCalendar"></app-inicio>
</ion-content>
