<app-header></app-header>
<app-menu></app-menu>

<ion-content>
  <div class="img ion-padding">
    <img src="assets/images/intro.png">
  </div>
  <div class="ion-padding">
    <div class="ion-text-center">

      <ion-label>
        El propósito de esta app es extender las funcionalidades del poliplanner original.
        El cual tiene por objetivo ayudar a los alumnos a elegir sus materias y así matricularse,
        pero se debe tener en cuenta que es totalmente independiente de la Facultad Politécnica de la Una.
       Por eso el uso de la app queda bajo la responsabilidad del alumno.
      </ion-label>
    </div>
    <br>
    <div class="ion-text-center">
      <ion-label>
        Si tenes alguna idea de como mejorar la app o encontraste algun fallo no dudes en contactarme
      </ion-label>
    </div>
    <br>
    <br>

    <p>Desarrollado por:</p>
    <ion-item lines="none" >
      <p>Luis Fernando Rios</p>
    </ion-item>
    <br>
    <p>Contactos:</p>
    <div class="contactos">
      <ion-icon button class="ion-padding" size="large" name="logo-instagram" (click)="btnInstagram()"></ion-icon>
      <ion-icon button class="ion-padding" size="large" name="logo-whatsapp" (click)="btnWhatsapp()"></ion-icon>
      <ion-icon button class="ion-padding" size="large" name="mail-outline" (click)="btnEmail()"></ion-icon>
      <ion-icon button class="ion-padding" size="large" name="phone-portrait-outline" (click)="btnLlamar()"></ion-icon>
    </div>
  
  </div>
</ion-content>