<ion-content fullscreen>
 <ion-list *ngFor="let sem of semestersClasses; let i=index">
  <ion-grid>
    <ion-row>
      <ion-item class="ion-align-self-end" lines="none">
        <ion-checkbox class="ion-no-padding ion-no-margin" slot="start" [(ngModel)]="sem.checkParent"
          [indeterminate]="sem.indeterminateState" (click)="checkCheckbox($event, i)"></ion-checkbox>
      </ion-item>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap"><strong>Semestre {{sem.semestre}}</strong></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item *ngFor="let materia of sem.materias">
    <span slot="start">&#09;</span>
    <ion-checkbox slot="start" [(ngModel)]="materia.isItemChecked" (ionChange)="verifyEvent(i)">
    </ion-checkbox>
    <ion-label class="ion-text-wrap">{{materia.nombre}}</ion-label>
  </ion-item>
 </ion-list>
</ion-content>
