 <ion-list *ngFor="let sem of semestersClasses; let i=index">
  <ion-item button (click)="expandItem($event)" class="collapsible">
    <ion-checkbox class="ion-no-padding ion-no-margin" slot="start" [(ngModel)]="sem.checkParent"
      [indeterminate]="sem.indeterminateState" (click)="checkCheckbox($event, i)">
    </ion-checkbox>
    <span slot="start">&#09;</span>
    <ion-label class="ion-text-wrap"><strong>Semestre {{sem.semestre}}</strong></ion-label>
    <ion-icon *ngIf="!estaActivo(i)" slot="end" name="chevron-down-outline"></ion-icon>
    <ion-icon *ngIf="estaActivo(i)" slot="end" name="chevron-up-outline"></ion-icon>
  </ion-item>
  <div id={{i}} class="content">
    <ion-item *ngFor="let materia of sem.materias" class="no-ripple">
      <span slot="start">&#09;</span>
      <ion-checkbox slot="start" [(ngModel)]="materia.isItemChecked" (ionChange)="verifyEvent(i)">
      </ion-checkbox>
      <ion-label class="ion-text-wrap">{{materia.nombre}}</ion-label>
    </ion-item>
  </div>
 </ion-list>

