
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  color="transparent" (click)="next()" *ngIf="!validarSeccion(ultimo)">
      <ion-icon style="color:var(--ion-color-primary)" name="arrow-redo"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button  color="transparent" button (click)="previous()" *ngIf="this.formData.seccionActual!=1">
      <ion-icon style="color:var(--ion-color-primary)" name="arrow-undo"></ion-icon>
    </ion-fab-button>
  </ion-fab>
