 
.circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    text-align: center;
    background: var(--ion-color-primary);
    margin: 0;
    padding: 0px;
  }