<ion-content padding *ngIf="displayPage">
  <ion-slides pager="true" scrollbar="false" [options]="slideOpts">
    <ion-slide>
      <img src="assets/images/intro.png">
      <H1>Bienvenido!!!</H1>
      <P>
        Dado que está en la versión web, le recomendamos instalar la aplicación.
        En esta guia te enseñamos como hacerlo ;) .
        Deslice a la derecha para continuar.
      </P>
    </ion-slide>
    <ion-slide *ngIf="isIOS">
      <img src="assets/images/preflight_slider/ios_1.png">
      <H1>Select sharing button</H1>
      <P>Press the sharing icon at the bottom of your web browser's window.</P>
    </ion-slide>
    <ion-slide *ngIf="isIOS">
      <img src="assets/images/preflight_slider/ios_2.png">
      <H1>Add to Home Screen</H1>
      <P>Scroll the icons until you find the option <strong>Add to Home Screen</strong>.</P>
    </ion-slide>
    <ion-slide *ngIf="isIOS">
      <img src="assets/images/preflight_slider/ios_3.png">
      <H1>Press Add</H1>
      <P>Press <strong>Add</strong> to save the application to your desktop.</P>
    </ion-slide>
    <ion-slide *ngIf="isIOS">
      <img src="assets/images/preflight_slider/ios_4.png">
      <H1>Run from Home Screen</H1>
      <P>The application will now be available from your home screen.
        To run from your web browser, press Continue.
      </P>
      <ion-button shape="round">Continue</ion-button>
    </ion-slide>
    <ion-slide *ngIf="isAndroid">
      <img src="assets/images/android_1.jpeg">
      <H1>Abrir menú de opciones</H1>
      <P>Toca el menú de opciones de tu navegador.</P>
    </ion-slide>
    <ion-slide *ngIf="isAndroid">
      <img src="assets/images/android_2.jpeg">
      <H1>Instalar App</H1>
      <P>Toca el boton de <strong>Instalar aplicación</strong> para añadir la app a tu cajón de aplicaciones.
      </P>
    </ion-slide>
    <ion-slide *ngIf="isAndroid">
      <img src="assets/images/android_3.jpeg">
      <H1>Confirmar la instalación</H1>
      <P>Simplemente toca en la opción <strong>Instalar</strong>.</P>
    </ion-slide>
    <ion-slide *ngIf="isAndroid">
      <img src="assets/images/android_4.jpeg">
      <H1>Ejecuta la App desde tu Home Screen</H1>
      <P>La aplicación ahora esta disponible en tu cajón de aplicaciones.
        Abrelo desde ahí o presiona en continuar para seguir usando la app desde el navegador.
      </P>
      <ion-button shape="round" routerDirection='root' routerLink="/inicio">Continuar</ion-button>
  </ion-slide>
</ion-slides></ion-content>