<ion-content padding *ngIf="displayPage">
  <ion-slides pager="true" scrollbar="false" [options]="slideOpts">
    <ion-slide>
        <img src="assets/images/preflight_slider/intro.png">
        <H1>Welcome</H1>
        <P>Since you're on a mobile device, we recommend that you activate our mobile-friendly configuration.</P>
    </ion-slide><ion-slide *ngIf="isIOS">
      <img src="assets/images/preflight_slider/ios_1.png">
      <H1>Select sharing button</H1>
      <P>Press the sharing icon at the bottom of your web browser's window.</P>
    </ion-slide><ion-slide *ngIf="isIOS">
        <img src="assets/images/preflight_slider/ios_2.png">
        <H1>Add to Home Screen</H1>
        <P>Scroll the icons until you find the option <strong>Add to Home Screen</strong>.</P>
    </ion-slide><ion-slide *ngIf="isIOS">
        <img src="assets/images/preflight_slider/ios_3.png">
        <H1>Press Add</H1>
        <P>Press <strong>Add</strong> to save the application to your desktop.</P>
    </ion-slide><ion-slide *ngIf="isIOS">
        <img src="assets/images/preflight_slider/ios_4.png">
        <H1>Run from Home Screen</H1>
        <P>The application will now be available from your home screen.
          To run from your web browser, press Continue.
        </P>
  
        <ion-button shape="round">Continue</ion-button>
    </ion-slide><ion-slide *ngIf="isAndroid">
      <img src="assets/images/android_1.jpeg">
      <H1>Select options button</H1>
      <P>Select the options button, then choose <strong>Add to Home Screen</strong>.
      </P>
    </ion-slide><ion-slide *ngIf="isAndroid">
      <img src="assets/images/android_2.jpeg">
      <H1>Press Add</H1>
      <P>Press the <strong>Add</strong> button to add the application to your home screen.
      </P>
    </ion-slide><ion-slide *ngIf="isAndroid">
      <img src="assets/images/android_3.jpeg">
      <H1>Run from Home Screen</H1>
      <P>The application will now be available from your home screen.
        To run from your web browser, press Continue.
      </P><ion-button shape="round" >Continue</ion-button>
  </ion-slide></ion-slides></ion-content>