<app-header></app-header>
<app-menu></app-menu>
<div>
  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-title class="ion-text-wrap">
        <div class="ion-text-wrap">
          {{textForHeader[data.seccionActual]}}
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</div>
  

<ion-content [ngSwitch]="validarSeccion()">
  <app-seleccionar-carrera *ngSwitchCase="1" [data]="data" ></app-seleccionar-carrera>
  <app-seleccionar-materias-aprobadas *ngSwitchCase="2" [data]="data" ></app-seleccionar-materias-aprobadas>
  <app-seleccionar-materia *ngSwitchCase="3" [data]="data" ></app-seleccionar-materia> 
  <app-seleccionar-secciones *ngSwitchCase="4" [data]="data"></app-seleccionar-secciones>
  <app-secciones *ngSwitchCase="5" [toCalendar]="data.toCalendar" ></app-secciones>
  <app-inicio  *ngSwitchCase="6" [semana]="data.semana" [toCalendar]="data.toCalendar" ></app-inicio>
  <app-calendario *ngSwitchCase="7" [toCalendar]="data.toCalendar"></app-calendario>  
  <app-calendario *ngSwitchCase="8" [toCalendar]="data.toCalendar"></app-calendario>  
</ion-content>

<!-- <ion-content *ngIf="currentSection <= currentCareer.length+1 && currentSection!=1">
  <ng-container *ngFor="let career of currentCareer; let i=index;">
    <app-seleccionar-materia *ngIf="currentSection==i+2" [selectedCareerId]="career._id"></app-seleccionar-materia>
  </ng-container>
</ion-content> -->

<app-file-picker #fp [data]="data"></app-file-picker>
<app-footer [data]="data"></app-footer>