<app-header></app-header>
<app-menu></app-menu>

<ion-content [ngSwitch]="validarSeccion()">
  <app-seleccionar-carrera [data]="data" *ngSwitchCase="1"></app-seleccionar-carrera>
  <app-seleccionar-materias-aprobadas [data]="data" *ngSwitchCase="2"></app-seleccionar-materias-aprobadas>
  <app-file-picker [data]="data" *ngIf="!data.dataFromExcel && validarSeccion()==2"></app-file-picker>
  <app-seleccionar-materia [data]="data" *ngSwitchCase="3"></app-seleccionar-materia> 
  <app-seleccionar-secciones [data]="data" *ngSwitchCase="4"></app-seleccionar-secciones>
  <div *ngSwitchCase="5">
    <ion-header slot="fixed">
      <ion-toolbar>
        <ion-title>Paso {{data.seccionActual}}: Confirma las secciones </ion-title>
      </ion-toolbar>
    </ion-header>
    <app-secciones [toCalendar]="data.toCalendar" ></app-secciones>
  </div>
  <div *ngSwitchCase="6">
    <ion-header slot="fixed">
      <ion-toolbar>
        <ion-title>Paso {{data.seccionActual}}: Confirma el Horario </ion-title>
      </ion-toolbar>
    </ion-header>
    <app-inicio [semana]="data.semana" [toCalendar]="data.toCalendar" ></app-inicio>
  </div>
  <div *ngSwitchCase="7">
    <ion-header slot="fixed">
      <ion-toolbar>
        <ion-title>Paso {{data.seccionActual}}: Confirma el Calendario </ion-title>
      </ion-toolbar>
    </ion-header>
    <app-calendario [toCalendar]="data.toCalendar"></app-calendario>
  </div>
</ion-content>

<!-- <ion-content *ngIf="currentSection <= currentCareer.length+1 && currentSection!=1">
  <ng-container *ngFor="let career of currentCareer; let i=index;">
    <app-seleccionar-materia *ngIf="currentSection==i+2" [selectedCareerId]="career._id"></app-seleccionar-materia>
  </ng-container>
</ion-content> -->

<app-footer [data]="data"></app-footer>